extends layout.pug
block content
    div(class="row")
        div(class="col-sm-6 text-right")
            img(src=pictureUrl)
        div(class="col-sm-6")
            h3 hello #{name}!
            p Thanks for logging in
            p You can now close this page!